html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar{display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}
a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

a.active {
  background-color: #c54f4f;
  color: white;
  text-transform: uppercase;
}

a:hover:not(.active) {
  background-color: #555;
  color: white;
}

h1, h2{
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  padding: 10px;
  text-align: center;
}

img{
  max-width: 100%;
  max-height:100%;
  display: block;
  object-fit: cover;
}

.item1, .item2, .item3, .item5, .item6, .item7 {
  border: 2px solid black;
}

.item4{
  grid-column: 1;
}

footer{
  text-align: center;
  position: relative;
  bottom: 0;
}

@media screen and (min-width: 850px){
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 18%;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  a.active {
    background-color: #c54f4f;
    color: white;
    text-transform: uppercase;
  }
  
  a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  main {
      margin-left:18%;
      padding:1px 16px;
      height:1000px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    text-align: center;
  }

  img{
    max-width: 100%;
    max-height:100%;
    display: block;
    object-fit: cover;
}

.item1, .item2, .item3, .item5, .item6, .item7 {
  border: 2px solid black;
}

.item4{
  grid-column: 1/4;
}
  
footer{
  margin-left:18%;
  text-align: center;
  position: relative;
  bottom: 0;
}}